main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    z-index: 99;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 600;
}

/* Heading  classes */

.title {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 4rem;
    font-weight: 600px;
    color: #126782;
}

/* Box classes */

.box-model {
    display: flex;
    flex-direction: row;
    height: 23em;
    width: 34em;
    margin: 3rem 0;
    transition: 1s;
    animation: fadein 0.6s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.main-panel {
    height: 100%;
    width: 80%;
}

.car-image {
    position: relative;
    height: 70%;
    width: 100%;
    border: 2px solid #457b9d;
    background-color: #edf2f4;
    overflow: hidden;
}

.box-model img {
    width: 90%;
}

.car-info-shrink {
    display: none;
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 2;
}

.car-info-shrink img {
    width: 15px;
    background: white;
    border-radius: 50%;
}

.car-info-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 0;
    height: 100%;
    z-index: 2;
    transform: translateY(-100%);
    background-color: #151515cc;
    transition: 0.3s;
}

.info-tab-active {
    display: flex;
    width: 100%;
    transform: translateY(0);
    transition: 0.3s;
    animation: heightin 1s;
}

@keyframes heightin {
    from {
        width: 100%;
    }
    to {
        width: 100%;
    }
}

.car-info-list {
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.car-info-item {
    font-size: 0px;
    color: white;
    text-align: center;
    transition: 0.3s;
}

.info-item-active {
    font-size: 12px;
    transition: 0.6s;
}

.info {
    display: flex;
    flex-direction: row;
    height: 16%;
    width: 100%;
    border: 2px solid #457b9d;
    border-top: none;
    border-bottom: none;
    background-color: white;
    color: #264653;
}

.car-name {
    height: 100%;
    width: 60%;
    border-right: 2px solid #457b9d;
    background-color: white;
}

.car-price {
    height: 100%;
    width: 40%;
    background-color: white;
}

.book-now {
    height: 13%;
    width: 100%;
    align-self: center;
    align-items: center;
    border: 2px solid #126782;
    border-top: none;
}

.side-panel {
    height: 71%;
    width: 23%;
    background-color: rgba(67, 170, 139, 0.35);
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    align-self: flex-start;
    animation: fadein 0.4s ease-in;
}

.additional-info {
    margin-bottom: 12px;
    margin-left: 5px;
    color: #024773;
    font-size: 14px;
}

.models-form {
    /* top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -200px;
    z-index: 10; */
    position: relative;
}

.close-tab {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.close-tab:hover {
    color: #fff;
    text-decoration: none;
}

.select-car-tab {
    align-self: flex-start;
}

.reservation-tab {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.4)
}

/* General classes */

.flex-mid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* Child classes*/

.book-now > a {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background-color: #126782;
    color: #edf2fb;
    font-size: 25px;
}

.book-now > input[type='button'] {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background-color: #126782;
    color: #edf2fb;
    font-size: 25px;
}



.car-price p {
    padding-top: 6px;
    font-size: 1em;
}


/* Pseudo classes */

.book-now a:active {
    background-color: #07526d;
}

.book-now:hover {
    border: 2px solid #07526d;
    cursor: pointer;
}


/* Responsivity */

@media only screen
    and (max-width: 1124px) {
         .title {
            margin-top: 30px;
            transition: 0.3s;
            font-size: 3rem;
        }
    }

@media only screen
    and (max-device-width: 1024px)
    and (max-device-height: 1366px) {
        
        .box-model {
            width: 30em;
        }

        .title {
            font-size: 4rem;
        }

        .additional-info {
            font-size: 13px;
        }
}

@media only screen
    and (max-width: 660px) {
        .title {
            font-size: 2rem;
        }
    }

@media only screen
    and(max-device-width: 675px) {
        .title {
            font-size: 1.5rem;
        }
    }

@media only screen
    and (max-device-width: 414px) {

        body {
            width: 100vw;
        }

        .models {
            width: 100vw;
        }

        .title {
            font-size: 1.5rem;
        }

        .box-model {
            width: 98vw;
            justify-content: center;
            height: 50vh;
            animation: fadein 0.2s;
        }

        .side-panel {
            display: none;
        }

        .column {
            justify-content: space-between;
        }

        .side-panel {
            overflow: hidden;
        }

        .car-info-shrink {
            display: inline;
        }
}

.hidden {
    display: none;
}