body {
    height: auto;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.title h1{
    color: #252525;
}

.type {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 30px;
    cursor: pointer;
    color: #5d5d5d;
    margin-top: 50px;
}

.type h2:hover {
    color: #252525;
}


.user-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 75%;
    margin-top: 50px;
    margin-bottom: 100px;
}
.top{
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.textarea-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.left{
    display: flex;
    flex-direction: column;
    
}
.right {display: flex;
flex-direction: column;
}
.user-change{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.change-pw{
    display: flex;
    flex-direction: row;
}
input, select {
    width: 350px;
    height: 45px;
    margin-bottom: 40px;
    margin-right: 10px;
    padding-left: 5px;
    font-size: 18px;
}
label{
   padding-bottom: 10px;
   color: rgb(165, 151, 151);
}

.current{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-top: 40px;
}



.change-pw{
    display: flex;
    flex-direction: column;
}
.new-pw, .confirm-pw{
    display: flex;
    flex-direction: column;
}
span{
    color: red;
}
h3{
    padding-top: 50px;
    color: rgb(165, 151, 151);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 300;
}
.button-div{
    display: flex;
    justify-content: flex-end;
    
}
.button{
    width: 120px;
    height: 35px;
    background-color: #013a63;
    text-align: center;
    color: white;
    border: 1px solid rgb(71, 68, 68);
    cursor: pointer;
}

.reservations {
    width: 70%;
}

.reservations table {
    width: 100%;
}

.reservations th, td {
    text-align: start;
    width: auto;
    padding: 13px 30px;
}

.pw-change {
    position: absolute;
    right: 15px;
    top: 40px;
    cursor: pointer;
    color: blue;
}

.pw-change:hover {
    border-bottom: 1px solid blue;
}

@media (max-width: 1085px){

    .current input {
        width: 350px;
    }

    .change-pw {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    input {
        margin-right: 0;
    }

}
@media (max-width: 414px){
    .type{
        display: block;
    }
    .reservations-label{
        margin-top: 20px;
    }
    .user-data {
        width: 100%;
    }

    input {
        margin-left: 0;
        width: 250px;
    }

    .current input {
        width: 250px;
    }

    label {
        padding-left: 0;
    }

    .textarea-container {
        align-items: flex-start;
    }

    h3 {
        padding-left: 0;
    }
 }
 
 .hidden {
    display: none;
}