footer {
    width: 100%;
    height:  11.6vh;
    background-color: #02223a;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-top: 2px solid #012a4a;
}

footer h6 {
    font-weight: 400;
}

footer a {
    text-decoration: none;
    color: #f1faee;
}

.social-media-section {
    margin-right: 16px;
    margin-top: 10px
}

.social-media-link {
    height: 2em;
    margin-left: 15px;
}

.company-policy {
    width: 13%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #f1faee;
}

.copyright-footer {
    color: #f1faee;
    width: 60%;
    margin-bottom: 2px;
    padding-top: 2px;
    border-top: 2px solid rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen 
    and (device-width: 1024px) {
        footer {
            height: 12.1vh;
            width: 100vw;
            font-size: 20px;
        }

        .company-policy {
            width: 30%;
            font-size: 26px;
        }

        .copyright-footer {
            font-size: 30px;
        }
}

@media only screen 
    and (max-device-width: 768px) {
        
        footer {
            width: 100vw;
        }

        .company-policy {
            width: 30%;
        }
}

@media only screen 
	and (max-device-width: 414px) {
		footer {
			height: 15vh;
        }
        
        .company-policy {
            width: 50%;
        }

        .copyright-footer {
            width: 75%;
        }
}