header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    background-color: #013a63;
    margin: 0 auto;
    height: 4.5rem;
    z-index: 1;
}

.header-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2px;
}

.header-nav {
	width: 60%;
    height: 100%;
	display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.header-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
	flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.header-nav li{
	margin-right: 1rem;
    font-weight: 600;
    list-style: none;
}

.header-nav-item a {
    padding: 0.8em 1.5em;
    color: #f1faee;
    border: 2px solid #014f86;
    border-radius: 9px;
    text-decoration: none;
}

.header-nav li > a:hover {
    background-color:#01497c;
    transition: 0.3s;
}

.logo a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
}

#main-logo {
    width: 11rem;
    height: 4rem;
    padding-top: 5px;
}

.business-name {
    display: block;
    text-align: center;
    color: #f1faee;
}

.collapsed {
    display: none;
    width: 50px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid white;
}

.collapsed-navbar {
    position: absolute;
    /* top: 4.2rem; */
    width: 100vw;
    height: 0;
    background-color: #013a63;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: height 0.7s;
    overflow: hidden;
}

.nav-active {
    height: 40vh;
}



.collapsed-navbar ul {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

@keyframes show {
    from {
        height: 0;
    }
    to {
        height: 40vh;
    }
}

.collapsed-nav-item {
    width: 100%;
    border-left: 0;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.collapsed-nav-item:hover {
    background-color: #01497c;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 0;
    transition: 0.6s;
}

.nav-font {
    font-size: 25px;
    border-left: 2px solid white;
    padding-left: 5px;
    margin-bottom: 3px;
}

@media (min-width: 1124px) {
    .collapsed-navbar {
        height: 0;
    }
}

@media (max-width: 1124px) {
	.header-nav {
		display: none;
	}
    
    .collapsed {
        display: flex;
        flex-direction: column;
        margin-right: 25px;
        justify-content: space-evenly;
        align-items: center;
    }

    .line {
        height: 2px;
        background: white;
        width: 30px;
        border-radius: 10px;
    }

	header {
		height: 4.5rem;
	}
}

@media (max-device-width: 414px) {
	#main-logo {
		width: 27vw;
		height: 8vh;
		padding-top: 5px;
	}
	
	.collapsed {
		margin-right: 10px;
    }
    
    .nav-active {
        height: 50vh;
    }
	
	.business-name {
		font-size: 12px;
	}
}