header {
    width: 100%;
    background-color: #013a63;
    margin: 0 auto;
    height: 4.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #012a4a;
}

/* header img{
    width: 150px;
    height: 100px;
} */

/* .nav-menu {
    margin-top: 5px;
    width: 80%;
} */

.header-nav {
	width: 60%;
    height: 100%;
	display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.header-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
	flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.header-nav li{
	margin-right: 1rem;
    font-weight: 600;
    list-style: none;
}

.header-nav-item a {
    padding: 0.8em 1.5em;
    color: #f1faee;
    border: 2px solid #014f86;
    border-radius: 9px;
    text-decoration: none;
}

.header-nav li > a:hover {
    background-color:#01497c;
    transition: 0.3s;
}

.logo a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
}

#main-logo {
    width: 11rem;
    height: 4rem;
    padding-top: 5px;
}

.business-name {
    display: block;
    text-align: center;
    color: #f1faee;
}

@media (max-width: 1124px) {
	header {
		height: 7.5rem;
		transition: height 0.3s;
	}	
}

@media (max-width: 760px) {
	.header-nav {
		display: none;
	}
	
	header {
		height: 4.5rem;
		transition: height 0.3s;
	}
}

@media (max-width: 411px) {
	#main-logo {
		width: 27vw;
		height: 8vh;
		padding-top: 5px;
	}
	
	.business-name {
		font-size: 12px;
	}
}