header {
    width: 100%;
    background: #013a63;
    margin: 0 auto;
    height: 4.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #012a4a;
}

/* header img{
    width: 150px;
    height: 100px;
} */

.nav-menu {
    margin-top: 5px;
    width: 80%;
}

.header-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
    
}

.header-nav li{
    font-weight: 600;
    list-style: none;
}

.header-nav-item a {
    padding: 0.8em 1.5em;
    color: #f1faee;
    border: 2px solid #014f86;
    border-radius: 9px;
    text-decoration: none;
}

.header-nav li > a:hover {
    background-color:#01497c;
    transition: 0.3s;
}

.logo a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
}

#main-logo {
    width: 11vw;
    height: 7vh;
    padding-top: 5px;
}

.business-name {
    display: block;
    text-align: center;
    color: #f1faee;
}

.header-flex-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}