main {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.services-heading {
    font-size: 3rem;
    color: #126782;
    margin: 7vh 0;
}

.services-container {
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.services-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30vw;
    margin-bottom: 30px;
    padding: 20px 30px 40px 20px;
    background-color: #e5e5e5;
    animation: fromleft 0.3s, fadein 0.3s;
}

.services-box:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.services-box:nth-of-type(2n) {
    margin-left: 10px;
}

.box-header {
    color: #264653;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.services-icon {
    width: 50px;
}

.services-title {
    margin-left: 10px;
}

.box-text {
    color: #1b3a4b;
    margin-top: 15px;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fromleft {
    from {
        transform: translateX(-40px);
    }
    to {
        transform: translateX(0);
    }
}

@media only screen
    and (max-device-width: 1124px) {

        .services-container {
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }

        .services-box {
            width: inherit;
        }
    }


@media only screen
    and (max-width: 1110px) {
        .services-container {
            width: 75vw;
        }

        .services-box {
            width: 35vw;
        }
    }

@media only screen
    and (max-width: 733px) {
        .services-container {
            flex-direction: column;
            align-items: center;
        }

        .services-box {
            width: 50vw;
        }
    }

@media only screen
    and (max-width: 414px) {

        main {
            width: 100vw;
            height: inherit;
        }

        .services-heading {
            text-align: center;
        }

        .services-container {
            width: 100vw;
        }

        .services-box {
            width: 80vw;
            padding: 15px 20px 30px 20px;
        }
    }