.hidden {
    display: none;
}

.show {
    display: inherit;
}

.slider-back, .slider-next {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    border-radius: 50%;
}

.slider-imgs {
    width: 90%;
    display: flex;
    justify-content: center;
}

.slider-car-name {
    position: absolute;
    top: 0;
    left: 0;
}

#car-name {
    color: #02223a;
}

@media only screen
    and (max-width: 1270px) {
        .slider-car-name {
            top: 0;
            left: 30px;
        }
    }