.center{
   
width: 95%;
   
height: 100%;
   
display: flex;
   
flex-direction: row;
   
justify-content: space-between;
   
align-items: center;
}
.reservation-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.inside{
    display: flex;
    justify-content: center;
    border: 2px solid #032035;
    background-color: #013a63;
    height: 500px;
    width: 400px;
    color: white;
    border-radius: 14px;
    animation: insideleft 0.6s;
}

@keyframes insideleft {
    from {
        opacity: 0.3;
        transform: translateX(-30px) translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0) translateY(0);
    }
}

.select-car {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.select-car > select{
    width: 330px;
    height: 45px;
    margin-top: 25px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    padding-left: 10px;
    color: #073442;
}
.select-car >select > option{
    color: #073442;
    cursor: pointer;
}

.select-car a {
    text-decoration: none;
    color: white;
}

.pu-location{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pick-up >input{
    width: 72%;
    margin-left: 10px;
    font-size: 14px;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    border: none;
    color: #073442;
}
.pick-up{
    margin-top: 20px;
    background-color: #07526d;
    display: flex;
    justify-content: space-between;
    width: 328px;
    height: 40px;
    border-radius: 12px;
}
.pick-up-logo{
    margin-top: 10px;
}
.pick-up > span{
    display: flex;
    padding-top: 10px;
    font-size: 15px;
}
.drop-off{
    margin-top: 20px;
    background-color: #07526d;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    border-radius: 12px;
}
.drop-off >input{
    width: 72%;
    margin-left: 6px;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    font-size: 14px;
    border: none;
    color: #073442;
}
.drop-off > span{
    font-size: 14px;
    padding-top: 12px;
}
.date-reservation{
    
display: flex;
    
flex-direction: column;
    
justify-content: center;
    
align-items: flex-end;
    
width: 100%;
}
.pu-date{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    background-color: #07526d;
    border-radius: 12px;
    overflow: hidden;
}
.pu-date > input{
    width: 72%;
    margin-left: 5px;
    color: black;
    cursor: pointer;
    border: none;
}
.pu-date > span {
   
font-size: 15px;
   
margin-left: 5px;
   
line-height: 2.5;
}
.pu-date >img{
    margin-left: 5px;
}

.pu-time > select{
   margin-top: 30px;
    width: 114px;
    height: 40px;
   color: black;
    margin-left: 10px;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    cursor: pointer;
}
.do-date{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    background-color: #07526d;
    border-radius: 12px;
    overflow: hidden;
}
.do-date > input{
    width: 72%;
    margin-left: 5px;
    color: black;
    cursor: pointer;
    border: none;
}

.do-date > span {
    font-size: 15px;
    margin-left: 5px;
    line-height: 2.5;
}
.do-date >img{
    margin-left: 3px;
}
.do-time > select{
    margin-top: 20px;
     width: 114px;
     height: 40px;
    cursor: pointer;
     margin-left: 10px;
     border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    color: black;
 }
 .reservation-button{
     width: 100%;
     height: 100px;
     display: flex;
     justify-content: center;
 }
 .reservation-button >input{
    width: 87.5%;
    height: 50px;
    color: white;
    border-radius: 14px;
    font-size: 15px;
    background-color: #126782;
    cursor: pointer;
    border: 1px solid #07526d;
    margin-top: 20px;
 }

.inside-content{
    display: block;
     margin-left: 100px;
     margin-top: 50px;
     /* color: white; */
}
div.image{
    width: 100px;
}
.titulli {
   margin-bottom: 10px;
   line-height: 0.5;
    
}
.cars-title{
    margin-top: 100px;
    margin-left: 75px;
}

.cover-img {
    display: flex;
    width: 61%;
    justify-content: space-between;
    align-items: center;
}

.cover-img img {
    width: 80%;
    animation: fadein 1s;
}

.pick-up-time {
    margin-top: 10px;
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 12px;
}

.drop-off-time {margin-top: 10px;height: 30px;width: 100px;border: none;border-radius: 12px;}


@keyframes fadein {
    from {
        opacity: 0;
            transform: translateX(-4px) translateY(-58px);
    }
    to {
        opacity: 1;
        transform: translateX(0px) translateY(0px);
    }
}

.reservation-button >input:active {
    background-color: #07526d;
 }

 @media only screen
    and (max-width: 1270px) {

        body {
            height: inherit;
        }

        main {
            height: inherit;
        }

        .center {
            flex-direction: column;
            transition: 1s;
            width: 100%;
            margin-top: 2rem;
        }

        .cover-img {
            width: 97vw;
            display: flex;
            align-items: center;
            margin: 50px 0;
        }

        .cover-img img {
            width: 95%;
        }
    }

@media only screen
    and (max-device-width: 414px) {

        .select-car > select {
            height: 45px;
            width: 80vw;
        }
        .inside {
            width: 95vw;
        }

        .pu-location {
        width: 80vw;
        }

        .pick-up {
            width: 80vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .pick-up > span {
            font-size: 12px;
            margin-top: 0;
            padding: 0;
        }

        .pick-up input {
            height: 100%;
            width: 53vw;
            margin-left: 5px;
        }

        .drop-off {
            width: 80vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .drop-off input {
            width: 53vw;
            height: 100%;
            margin-left: 5px;
        }

        .date-reservation {
            width: 80vw;
            display: flex;
            justify-content: space-between;
        }

        .pu-date {
            margin-left: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .pu-date span {
            font-size: 12px;
            line-height: inherit;
            margin: 0;
        }

        .pu-date select {
            width: 35vw;
        }

        .pu-date > input {
            height: 100%;
            width: 54vw;
        }

        .pu-time select {
            width: 25vw;
        }

        .do-date {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .do-date span {
            font-size: 12px;
            line-height: inherit;
        }

        .do-date input {
            height: 100%;
            width: 53vw;
            margin-left: 4px;
        }

        .do-time select {
            width: 25vw;
        }

        #input-res {
            font-size: 12px;
            line-height: inherit;
            padding: 0;
        }

        .cover-img img {
            width: 95%;
        }

        .pick-up-logo {
            margin-top: 0;
        }

        .reservation-button input {
            font-size: 14px;
            width: 100%;
            height: 45px;
        }
    }

@media only screen
    and (max-device-width: 280px) {

        .drop-off-time {
            margin-top: 10px;
            width: 24vw;
            font-size: 9px;
        }

        .pick-up-time {
            margin-top: 10px;
            width: 24vw;
            font-size: 9px;
        }
    }