body {
    height: 100vh;
}

main {
    display: flex;
    background: no-repeat center url("../imgs/3075569.jpg");
    justify-content: center;
    align-items: center;
    height: 100%;
}

a {
    text-decoration: none;
}

input {
    outline: none;
}

.panel {
    position: relative;
    width: 510px;
    height: auto;
    padding: 5px 10px;
    margin: auto 0;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(12px);
    align-content: center;
    border-radius: 21px;
    border: 2px solid #f1faee;
    padding-bottom: 24px;
    animation: fadein  0.5s;
}

.panel:nth-of-type(2) {
    margin: 15px 0;
}

@keyframes fadein {
    from { 
        opacity: 0;
        transform: translateX(-100px); 
    }
    to   { 
        opacity: 1; 
        transform: translateX(0px); 
    }
}

.register-form {
    color: #126782;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    display: block;

}

.register-component {
    height: 3rem;
    width: 22rem;
    border: none;
    font-size: 18px;
}

.user-data {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

.full-name {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.data-input-container {
    width: 81%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
    margin-right: 10px;
}

.data-input-container img {
    padding-right: 1px;
    margin-bottom: 2px;
    margin-right: 5px;
}

.user-input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.valid-info {
    display: none;
    margin-left: 55px;
    color: #d62323;
    font-size: 12px;
}

#email-logo {
    width: 50px;
    height: 50px;
}

.input-area {
    color: #f1faee;
    background-color: transparent;
    border-bottom: 2px solid white;
    font-size: 20px;
    font-weight: 400;
    padding-top: 4px;
    caret-color: #f1faee;
}

.input-area::placeholder {
    color: white;
    opacity: 0.4;
}

#password-strength {
    font-weight: 400;
    margin-top: 5px;
    margin-left: 6em;
    width: 90%;
    color: #f1faee;
    animation: sidein 0.4s;
}

@keyframes sidein {
    from {
        opacity: 0;
        transform: translateX(-60px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

#password-strength li{
    color: #e63946;
    margin-left: 33px;
}

.register-label {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 30px;
}

#register-button, #continue-button {
    height: 52px;
    width: 360px;
    color: #f1faee;
    border-radius: 14px;
    background-color: #126782;
    margin-top: 0;
    border: 2px solid #07526d;
    opacity: 0.7;
}

#register-button, #continue-button:active {
    background-color: #07526d;
}

.register-event {
    margin-top: 25px;
    margin-left: 34px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.terms-and-services {
    align-self: flex-start;
    margin-left: 37px;
    margin-bottom: 2px;
}

.terms-and-services {
    text-decoration: none;
    color: #126782;
    font-size: 14px;
    margin-bottom: 8px;
}

.terms-and-services a {
    text-decoration: underline;
    color: #177fa0;
}

.register-links {
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-left: 14px;
    margin-top: 15px;
}

.register-links a {
    color: white;
    margin-left: 56px;
}

.register-links a:hover {
    text-decoration: underline;
}

.back {
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
    color: #126782;
    padding: 5px;
    border-radius: 0.5rem;
}

.back:hover {
    background-color: #0d485b54;
}

.pick-option {
    height: 60px;
}

.hidden {
    display: none;
}

.bday-container {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.bday {
    height: 30px;
    width: 32%;
    border: none;
    border-radius: 5px;
    padding-left: 3px;
}

.bday-date {
    width: 100%;
    margin-top: 5px;
}

.gender-container {
    padding: 7px;
    border: 1px solid;
    border-radius: 0.5rem;
    color: white;
}

.gender {
    padding-right: 30px;
}

.gender-info {
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gender-pick {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
}

.location-container {
    height: 55px;
    flex-direction: row;
    justify-content: space-between;
}

.country-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.country-container:nth-of-type(2) {
    margin-left: 5px;
}

.country {
    height: 30px;
    width: 140px;
    padding-left: 3px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
}

.city {
    width: 150px;
    height: 30px;
    margin-top: 5px;
    border: none;
    padding-bottom: 5px;
    border-bottom: 2px solid white;
}

@media only screen
    and (max-device-width: 1024px) {
        body {
            height: 100vh;
        }

        main {
            height: 100%;
        }

        .panel {
            margin: 50px 0;
        }
    }

@media only screen
    and (max-device-width: 414px) {
        body {
            width: 100vw;
            height: 100vh;
        }

        main {
            background: url("../imgs/331.jpg");
            height: auto;
        }

        .panel {
            width: 97vw;
            margin: 10px 0;
        } 

        .register-label {
            font-size: 1.5em;
            margin-top: 15px;
            margin-bottom: 0;
        }

        .data-input-container {
            width: 86vw;
            overflow: hidden;
        }

        .data-input-container img {
            display: none;
        }

        .valid-info {
            margin-left: 5px;
        }

        .register-event {
            margin-left: 0;
        }

        #password-strength {
            margin-top: 10px;
            margin-left: 0;
        }

        .terms-and-services {
            margin-left: 0;
        }

        #register-button, #continue-button {
            width: 80vw;
            height: 45px;
        }

        .register-links a {
            margin-left: 0;
        }

        .input-area:focus {
            border-color: red;
        }

        .back {
            top: 4px;
            left: 4px;
        }
    }

@media only screen
    and (max-device-width: 325px) {
        .country {
            width: 95px;
        }

        .city {
            width: 110px;
        }
    }